<h2>Diplomky</h2>

<p>Do vývoje Fedory a jiných open-source projektů se lze zapojit i během studia. Brněnská pobočka Red Hatu má program pro studenty, kteří chtějí pracovat na open source software v rámci své bakalářské nebo diplomové práce. Red Hat nabízí přes 70 témat z různých okruhů. Nicméně vítána je i vlastní iniciativa studentů, kteří mohou přijít s vlastním tématem z oblasti open source.</p>

<h3>Nabídka témat</h3>

<p>Nabídka témat v odkazovaném souboru nemusí být aktuální, protože nemusí reflektovat poslední rezervace. Vždy nejdříve kontaktujte vedoucího, který je u tématu uveden.</p>

<ul class="unstyled">
	<li><span class="icon-file"></span><a href="http://dl.dropbox.com/u/1309518/nabidka-diplomek.odt">Nabídka bakalářských a diplomových témat (ODT)</a></li>
</ul>

<h3>Školy</h3>

<p><strong>Momentálně probíhá oficiální spolupráce v rámci bakalářských a diplomových prací s těmito školami</strong> (témata jsou vypsaná ve školním systému):</p>

<ul>
	<li>Fakulta informačních technologií Vysoké učení technické v Brně</li>
	<li>Fakulta informatiky Masarykovy univerzity v Brně</li>
</ul>

<p><strong>S těmito školami probíhá spolupráce na neoficiální úrovni</strong> (práce nejsou vypsané v systému, ale se školou existuje dohoda a studenti si mohou téma u Red Hatu bez problémů zapsat)</p>

<ul>
	<li>Přírodovědecká fakulta (Katedra Informatiky) Palackého university v Olomouci</li>
    <li>Fakulta riadenia a informatiky Žilinská univerzita</li>
</ul>

<p><strong>Na následujících školách neexistuje žádná dohoda, ale někteří jejich studenti už na bakalářské či diplomové práci s Red Hatem pracovali:</strong></p>

<ul>
	<li>Fakulta informačních technologií České vysoké učení technické v Praze</li>
	<li>Fakulta elektrotechniky České vysoké učení technické v Praze</li>
	<li>Fakulta elektrotechniky a informatiky Slovenská technická univerzita v Bratislavě</li>
	<li>Fakulta elektrotechniky a informatiky Vysoká škola báňská-Technická univerzita Ostrava</li>
</ul>

<h3>Proces přihlášení tématu</h3>

<p>Na školách, kde probíhá oficiální spolupráce, si mohou studenti téma vybrat a rezervovat přímo ve školním systému. Poté by však měli co nejdříve kontaktovat vedoucího z Red Hatu, aby nedošlo ke kolizi. Téma totiž může být vypsané na několika školách zároveň. Pokud má student vlastní téma, měl by postupovat podle obecného postupu popsaného níže.</p>

<p>Na školách, kde je neoficiální nebo žádná spolupráce s Red Hatem, si musí student domluvit práci sám. Vedení práce probíhá tak, že student dostane v Red Hatu odborného vedoucího práce, s kterým řeší obsahovou stránku práce. Na škole si potom musí najít formálního vedoucího práce, který práci oficiálně povede a bude se studentem řešit formální stránku práce (termíny, typografická úprava, počet stran, ...).</p>

<p>Pokud si chce student nahlásit téma, musí se nejdříve domluvit s odborným vedoucím v Red Hatu, s kterým dá dohromady návrh zadání. S tím jde posléze za vybraných pracovníkem školy, který toto zadání zhodnotí a na základě toho se rozhodne, jestli téma oficiálně povede. Veškeré následující kroky záleží na individuální dohodě mezi vedoucím z Red Hatu, vedoucím ze školy a studentem.</p>

<p>Máte-li vlastní téma, nebo si nejste jistí, na kterého vedoucího z Red Hatu se obrátit, kontaktujte Jiřího Eischmanna (eischmann@redhat.com).</p>

<h3>Podmínky ze strany Red Hatu</h3>

<ul>
	<li>Výsledná práce (kód, ne text) musí být uvolněna pod GNU GPL nebo jinou licencí kompatibilní s Fedorou.</li>
	<li>Student by měl projekt zveřejnit na jednom ze serverů hostujících open-source projekty (fedorahosted.org, github.com, code.google.com,…), pokud nepracuje v rámci projektu, který už podobnou infrastrukturu má.</li>
	<li>Pokud je to možné, měl by být výsledek práce k dispozici v RPM balíčku pro Fedoru.</li>
	<li>Student by měl pravidelně komunikovat s vedoucím a s dalšími členy komunity, pokud pracuje v rozsáhlejším projektu.</li>
</ul>

<h3>Kontakt</h3>

<p>V případě jakýchkoliv dotazů, týkajících se bakalářských a diplomových prací, se můžete obrátit na Jiřího Eischmanna, manažera pro spolupráci s vysokými školami a komunitou (<span class="icon-envelope"> </span><a href="mailto:eischmann@redhat.com">eischmann@redhat.com</a>).</p>